
  .blur1{
      filter: blur(20px);
  }
  span{
      font-size: 40px;
  }
  .imgBack{
      height: 30px;
      width: 30px;
      margin-top: -1px;
  }
  body{
background-color: black;
}
  .mainContainer{
      background-color: black;
      color: white;
      box-sizing: border-box;
      
  
  }
  .list{
    color: rgb(7, 124, 188);
}
.btn1{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 60%;
    font-size: 35px;
    margin-right: 15px;
    color: rgb(61, 61, 190);
    display: flex;
    align-items: center;
}
  .display{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  h1{
      font-size: 50px;
      
  }
  header{
      padding: 40px;    
  }
  .headingSecondText{
      font-size: 40px;
  
  }
  .headingSecond{
      display: none;
      margin-bottom: 100px;
  }
 
  /* .addBtn{
      padding: 25px;
  } */
 
  .checkItem{
    font-size: 52px;
    color: white
}
  .backButton{
      width: 30px;
      height: 30px;
      border: 2px solid white;
      background-color: white;
      border-radius: 50%;
      font-size: 35px;
      /* margin-top: 15px; */
      margin-right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .checkItem{
      font-size: 25px;
      font-weight: bolder;
      position: relative;
      left: 30px;
      margin-top: 40px;
  }
  
  .adt{
      /* color: orangered; */
      color: black;
      font-size: x-large;
      padding-bottom: 10px;
      font-weight: bolder;
  }
  input{
      width: 300px;
      text-align: center;
      margin-left: 30px;
      margin-bottom: 10px;
      padding: 10px;
      color: black;
      font-size: 24px;
      /* border: 1px solid orangered; */
      border-radius:4px ;
      /* box-shadow: 1px 1px 4px 2px gray; */
  }
  .addTask {
      display: none;
      flex-direction: column;
      width: 400px;
      height: 200px;
      background-color: white;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 20px 10px;
      text-align: center;
      position: fixed;
      top: 30vh;
      left: 35vw;
      z-index: 1;
  }
  .addItem {
      display: none;
      flex-direction: column;
      width: 400px;
      height: 200px;
      background-color: white;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 20px 10px;
      text-align: center;
      position: fixed;
      top: 30vh;
      left: 35vw;
      z-index: 1;
  }
  .btn2{
      width: 100px;
      height: 40px;
      margin-left: 10px;
      background-color:  orangered;
      color:white;
      font-size: large;
      border-radius: 10px;
      padding: 10px ;
      box-sizing: border-box;
  }
  .blur{
      filter: blur(20px);
  }
  .toDoCardMainContainers{
      width: 1000px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      top:60px;
      left: 60px;
      background-color: black;
}
.toDoCardMainContainer2 {
      width: 400px;
      position: relative;
      left: 500px;
      top: 70px;
      /* display: flex;
      justify-content: center; */
  }
  .toDoCardContainerscard{
      width: 220px;
      height: 350px;
      background-color: #FFF4F4;
      color: black;
      font-size: 30px;
      box-sizing: border-box;
      text-align: center;
      /* border:1px solid orangered; */
      border-radius: 10px;
      margin-bottom: 30px;
      
  }
  .addCardBtn1 {
      height: 35px;
      width: 45px;
      border-radius: 50%;
      background-color: white;
      color: white;
      font-size: 28px;
      font-weight: bolder;
      position: relative;
      top: 210px;
      left: 55px;
      z-index: 1;
  }
  .line{
      border-bottom: 2px solid grey;
      padding-bottom: 20px;
      margin: 20px 0px;
      font-size: 25px;
      font-weight: bold;
  }
  
  .addCardBtn2{
      height: 35px;
      width: 35px;
      border-radius: 50%;
      border: 1px solid #068DA9;
      background-color: #068DA9;
      color: white;
      font-size: 28px;
      font-weight: bolder;
      position: relative;
      top: 210px;
      left: 60px;
      z-index: 1;
      
  }
  
  .mainDiv{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 90px;
      height: 200px;
      overflow-y: auto ;
      overflow-x: hidden;
      
      
  }
  .itemDiv{
      display: flex;
      
      flex-wrap: wrap;
      justify-content: space-between;
     margin-left: 20px;
     margin-bottom: 10px;
      
  }
  .itemText{
      color: black;
      font-size: 24px;
      font-weight: bold;
      width: 70px;
      margin-right: 2px;
      margin-top: 4px;
      text-align: left;
  
  }
  .itemButton{
      background-color:aqua;
      border: 2px solid white;
      color: #FFF4F4;
      border-radius: 20px;
      width: 80px;
      height: 30px;
     margin-left: 20px;
  }
  .checkItem{
      font-size: 40px;
      }
      .headingSecondText{
          font-size: 40px;
          display: flex;
          align-items: center;
          text-align: center; 
      }
      .back-Text{
          font-size: 30px;
      }
      .SubtaskConButton {
            background-color: #e7644e;
            border: 2px solid red;
            border-radius: 10px;
        }
  
  @media (max-width:600px) and (min-width:280px) {
  
    h1 {
        font-size: 25px;
    }
  
  span {
    font-size: 25px;
}
.btn1 {
    width: 30px;
    height: 30px;
   font-size: 25px;
}

.addTask {
   left: 10vw;
   width: 300px;
}
input {
    width: 250px;
    margin-left: 0px;
}
.toDoCardMainContainers {
    width: 300px;
    left: 28px;
}
.backButton {
    width: 20px;
    height: 20px;
   font-size: 20px;
   margin-right: 5px;
}
.back-Text {
    font-size: 22px;
}
.headingSecondText {
    font-size: 30px;
    justify-content: center;
}
.toDoCardMainContainer2 {
    width: 140px;
    left: 30px;
}
.addItem {
  width: 300px;
  left: 10vw;
}
}